<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
    <!-- index.html -->
    <h1>Spring AI <small>Image Analysis</small></h1>
    
    <form id="form1" enctype="multipart/form-data">
        <input type="file" id="attach" name="attach" accept="image/*" required>
        <button type="button" id="btn1">이미지 업로드</button>
    </form>
    
    <hr>
    
    <div id="message" class="message"></div>
    
    <hr>
    
    <table id="result">
        <tr>
            <td><img id="img1"></td>
            <td class="left" id="resultText"></td>
        </tr>
    </table>
    
    <script>
    
        //비동기 통신
        //- XMLHttpRequest(ajax) 요청 
        //- fetch API 요청
    
        document.getElementById('btn1').onclick = async function() {
            
            const formData = new FormData();
            formData.append("attach", document.getElementById("attach").files[0]);
            
            document.getElementById('message').textContext = '이미지 업로드/분석합니다.';
            
            try {
            
                const response = await fetch('/analyze', {
                    method: 'POST',
                    body: formData
                });
                
                if (response.ok) {
                
                    const data = await response.json();
                    console.log(data);
                    
                    document.getElementById('img1').src = data.imageUrl;
                    document.getElementById('resultText').textContent = data.analysisText;
                                    
                    document.getElementById('message').textContext = '이미지 업로드/분석을 성공했습니다.';
                } else {
                    document.getElementById('message').textContext = '이미지 업로드/분석을 실패했습니다.';
                }
            
            } catch (e) {
                console.log(e);
            }
            
        };
    
    </script>
    
</body>
</html>

















