<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring AI</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
    <style>
        #resultQuery {
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <!-- index.html -->
    <h1>Spring AI <small>Tool Calling</small></h1>

    <div>
        <input type="text" id="message" name="message" class="full" placeholder="서울 날씨 알려줘 / 부산 지금 외출해도 괜찮아?" autofocus>
    </div> 
    <hr>
    <div id="result" class="message"></div>   
    
    <script>
    
        document.getElementById('message').onkeydown = async function() {
        
            if(event.key != "Enter") return;
            
            const response = await fetch('/weather', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8;'
                },
                body: new URLSearchParams({ //weather?message=질문
                    message: event.target.value
                })
            });
            
            if(response.ok) {
                
                const text = await response.text();
                
                document.getElementById('result').textContent = text;
                
            }
        };
        
    </script>
    
</body>
</html>

















